① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料

② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

In [23]:
import re

from selenium import webdriver
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support.ui import WebDriverWait
from bs4 import BeautifulSoup
import pandas as pd

browser = webdriver.Chrome(executable_path='./chromedriver.exe')
browser.get('http://taqm.epa.gov.tw/taqm/tw/MonthlyAverage.aspx')

In [24]:
selectSite = Select(browser.find_element_by_id('ctl05_ddlSite'))
selectSite.select_by_value('11')
selectYear = Select(browser.find_element_by_id('ctl05_ddlYear'))
selectYear.select_by_value('2018')
browser.find_element_by_id('ctl05_btnQuery').click()

wait = WebDriverWait(browser, 10)
wait.until(lambda browser: browser.find_element_by_id('ctl05_gv'))

soup = BeautifulSoup(browser.page_source, 'lxml')
table = soup.find('table', class_='TABLE_G')

browser.close()

d = {}
key = ''
date_regex = r'\d{4}\/0[1-8]'
all_td = table.find_all('td')

for idx, td in enumerate(all_td):
    if 'style' in td.attrs:
        key = td.text
        d[key] = {}
    else:
        if re.match(date_regex, td.text):
            d[key][td.text] = all_td[idx + 1].text

print(d)

{'SO2': {'2018/01': '1.80', '2018/02': '1.90', '2018/03': '2.20', '2018/04': '2.30', '2018/05': '3.10', '2018/06': '2.70', '2018/07': '2.20', '2018/08': '2.40'}, 'CO': {'2018/01': '0.34', '2018/02': '0.44', '2018/03': '0.40', '2018/04': '0.38', '2018/05': '0.34', '2018/06': '0.29', '2018/07': '0.21', '2018/08': '0.30'}, 'O3': {'2018/01': '33.40', '2018/02': '32.50', '2018/03': '35', '2018/04': '38.40', '2018/05': '31.60', '2018/06': '29.50', '2018/07': '18.70', '2018/08': '26.40'}, 'PM10': {'2018/01': '23', '2018/02': '41', '2018/03': '39', '2018/04': '48', '2018/05': '37', '2018/06': '26', '2018/07': '24', '2018/08': '26'}, 'NOx': {'2018/01': '14.17', '2018/02': '19.43', '2018/03': '18.50', '2018/04': '15.24', '2018/05': '15.20', '2018/06': '13.79', '2018/07': '11.60', '2018/08': '14.75'}, 'NO': {'2018/01': '3.41', '2018/02': '4.48', '2018/03': '4.93', '2018/04': '2.60', '2018/05': '2.26', '2018/06': '2.41', '2018/07': '2.68', '2018/08': '2.68'}, 'NO2': {'2018/01': '10.77', '2018/02': '14.95', '2018/03': '13.56', '2018/04': '12.64', '2018/05': '12.94', '2018/06': '11.38', '2018/07': '8.92', '2018/08': '12.08'}, 'THC': {}, 'NMHC': {}, 'CH4': {}}

In [25]:
# 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料
so2 = dict()
so2['SO2'] = d['SO2']

pd.DataFrame(so2)

          SO2
2018/01  1.80
2018/02  1.90
2018/03  2.20
2018/04  2.30
2018/05  3.10
2018/06  2.70
2018/07  2.20
2018/08  2.40

In [26]:
# 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

so2_and_co = dict()
so2_and_co['SO2'] = d['SO2']
so2_and_co['CO'] = d['CO']

pd.DataFrame(so2_and_co)

          SO2    CO
2018/01  1.80  0.34
2018/02  1.90  0.44
2018/03  2.20  0.40
2018/04  2.30  0.38
2018/05  3.10  0.34
2018/06  2.70  0.29
2018/07  2.20  0.21
2018/08  2.40  0.30