根據範例使用 selenuim 取出 高雄市小港區 2019 年 空氣品質 資料，並用一個適合的資料結構儲存  
Hint: 將所有資料存在一個變數當中

In [1]:
from time import sleep
import re

from selenium import webdriver
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support.ui import WebDriverWait
from bs4 import BeautifulSoup

browser = webdriver.Chrome(executable_path='./chromedriver.exe')
browser.get('http://taqm.epa.gov.tw/taqm/tw/MonthlyAverage.aspx')

selectSite = Select(browser.find_element_by_id('ctl05_ddlSite'))
selectSite.select_by_value('58')
selectYear = Select(browser.find_element_by_id('ctl05_ddlYear'))
selectYear.select_by_value('2019')
browser.find_element_by_id('ctl05_btnQuery').click()

In [2]:
wait = WebDriverWait(browser, 10)
wait.until(lambda browser: browser.find_element_by_id('ctl05_gv'))

# 取得資料（等瀏覽器資料出現後才執行）
html_source = browser.page_source
soup = BeautifulSoup(html_source, 'html.parser')
table = soup.find('table', class_='TABLE_G')

browser.close()

In [3]:
d = {}
key = ''
date_regex = r'\d{4}\/\d{2}'
all_td = table.find_all('td')

for idx, td in enumerate(all_td):
    if 'style' in td.attrs:
        key = td.text
        d[key] = {}
    else:
        if re.match(date_regex, td.text):
            d[key][td.text] = all_td[idx + 1].text
            
print(d)

{'SO2': {'2019/01': '4.10', '2019/02': '3.30', '2019/03': '3.90', '2019/04': '3.40', '2019/05': '3.30', '2019/06': '4.10', '2019/07': '4', '2019/08': '4.60', '2019/09': '3.50', '2019/10': '3.20', '2019/11': '3.60', '2019/12': '3'}, 'CO': {'2019/01': '0.67', '2019/02': '0.48', '2019/03': '0.50', '2019/04': '0.39', '2019/05': '0.38', '2019/06': '0.24', '2019/07': '0.28', '2019/08': '0.33', '2019/09': '0.32', '2019/10': '0.36', '2019/11': '0.46', '2019/12': '0.54'}, 'O3': {'2019/01': '24.70', '2019/02': '29.40', '2019/03': '29.20', '2019/04': '30.40', '2019/05': '28.60', '2019/06': '16.30', '2019/07': '15.50', '2019/08': '19.70', '2019/09': '35.70', '2019/10': '44', '2019/11': '34.80', '2019/12': '22.30'}, 'PM10': {'2019/01': '78', '2019/02': '57', '2019/03': '52', '2019/04': '42', '2019/05': '35', '2019/06': '20', '2019/07': '24', '2019/08': '27', '2019/09': '35', '2019/10': '50', '2019/11': '63', '2019/12': '54'}, 'NOx': {'2019/01': '38.01', '2019/02': '25.62', '2019/03': '27.84', '2019/04': '21.83', '2019/05': '22.55', '2019/06': '17.15', '2019/07': '17.71', '2019/08': '19.66', '2019/09': '18.66', '2019/10': '19.50', '2019/11': '28.99', '2019/12': '33.84'}, 'NO': {'2019/01': '7.95', '2019/02': '4.76', '2019/03': '5.41', '2019/04': '4.16', '2019/05': '4.58', '2019/06': '5.08', '2019/07': '5.16', '2019/08': '5.17', '2019/09': '3.63', '2019/10': '3.50', '2019/11': '5.21', '2019/12': '7.83'}, 'NO2': {'2019/01': '30.06', '2019/02': '20.86', '2019/03': '22.43', '2019/04': '17.68', '2019/05': '17.98', '2019/06': '12.08', '2019/07': '12.54', '2019/08': '14.49', '2019/09': '15.03', '2019/10': '15.99', '2019/11': '23.78', '2019/12': '26'}, 'THC': {'2019/01': '2.27', '2019/02': '2.11', '2019/03': '2.12', '2019/04': '2.02', '2019/05': '2.02', '2019/06': '1.92', '2019/07': '1.93', '2019/08': '1.97', '2019/09': '1.98', '2019/10': '2.05', '2019/11': '2.15', '2019/12': '2.18'}, 'NMHC': {'2019/01': '0.27', '2019/02': '0.17', '2019/03': '0.18', '2019/04': '0.14', '2019/05': '0.16', '2019/06': '0.13', '2019/07': '0.14', '2019/08': '0.15', '2019/09': '0.13', '2019/10': '0.13', '2019/11': '0.21', '2019/12': '0.23'}, 'CH4': {'2019/01': '2', '2019/02': '1.94', '2019/03': '1.94', '2019/04': '1.88', '2019/05': '1.86', '2019/06': '1.79', '2019/07': '1.80', '2019/08': '1.82', '2019/09': '1.86', '2019/10': '1.92', '2019/11': '1.94', '2019/12': '1.95'}}

In [4]:
import pandas as pd
pd.DataFrame(d)

          SO2    CO     O3 PM10    NOx    NO    NO2   THC  NMHC   CH4
2019/01  4.10  0.67  24.70   78  38.01  7.95  30.06  2.27  0.27     2
2019/02  3.30  0.48  29.40   57  25.62  4.76  20.86  2.11  0.17  1.94
2019/03  3.90  0.50  29.20   52  27.84  5.41  22.43  2.12  0.18  1.94
2019/04  3.40  0.39  30.40   42  21.83  4.16  17.68  2.02  0.14  1.88
2019/05  3.30  0.38  28.60   35  22.55  4.58  17.98  2.02  0.16  1.86
2019/06  4.10  0.24  16.30   20  17.15  5.08  12.08  1.92  0.13  1.79
2019/07     4  0.28  15.50   24  17.71  5.16  12.54  1.93  0.14  1.80
2019/08  4.60  0.33  19.70   27  19.66  5.17  14.49  1.97  0.15  1.82
2019/09  3.50  0.32  35.70   35  18.66  3.63  15.03  1.98  0.13  1.86
2019/10  3.20  0.36     44   50  19.50  3.50  15.99  2.05  0.13  1.92
2019/11  3.60  0.46  34.80   63  28.99  5.21  23.78  2.15  0.21  1.94
2019/12     3  0.54  22.30   54  33.84  7.83     26  2.18  0.23  1.95